<ul class="H-tags">
{{#response}}
<li class="H-tag">{{tag.name}}</li>
{{/response}}
</ul>
{{#user}}
<form id="H-new-tag" action="#">
<input type="hidden" name="reference" value=""></input>
<select name="tag">
</select>
<input type="submit"></input>
</form>
{{/user}}
