<html>
<body>
<h1>תקציב המדינה</h1>
{{#response}}
<h2>סעיף {{title}}, שמספרו {{code}}</h2>
<ul>
<li>תוכנן: נטו {{net_allocated}}, ברוטו {{gross_allocated}}</li>
<li>על שינוייו: נטו {{net_revised}}, ברוטו {{gross_revised}}</li>
<li>ביצוע: נטו {{net_used}}, ברוטו {{gross_used}}</li>
</ul>
{{/response}}
</body>
</html>