{{#user}}
Hello,  {{ fullname }}, <a id="H_login_header">sign out</a>
<script type="text/javascript">
$("#H_login_header").attr("href","http://api.yeda.us/logout?next="+document.URL);
</script>
{{/user}}
{{^user}}
<a id="H_login_header">sign in</a>
<script type="text/javascript">
$("#H_login_header").attr("href","http://api.yeda.us/login?next="+document.URL);
</script>
{{/user}}
