/* Tagging */

.H-tags {
	display: inline-block;
}

.H-tag {
	padding: 2px;
	margin: 2px;
	border: 2px solid #08f;
	background-color: #358;
	color: #cef;
	display:inline-block;
	font: 12px bold Helvetica,sans-serif;
}

.H-tag:hover {
	border-color: #f40;
	background-color: #57f;
	color:#fff;
	cursor: pointer;
}

.H-new-tag {
	display: inline-block;
	opacity: 0.2;
}

.H-new-tag:hover {
	opacity: 1.0;
}

.H-stars-votes, .H-stars-count, .H-stars-vote {
	display: inline-block;
}

.H-stars-vote {
	background-repeat: no-repeat;
	display: inline-block;
	width: 30px;
	height: 27px;
	cursor: pointer;
}

.H-stars-not-starred {
	background-image: url(/data/common/stars/static/empty_star.png);
}

.H-stars-starred {
	background-image: url(/data/common/stars/static/full_star.png);
}
