/* Tagging */

.H-tags {}

.H-tag {
	padding: 2px;
	margin: 2px;
	border: 2px solid #08f;
	background-color: #358;
	color: #cef;
	display:inline-block;
	font: 12px bold Helvetica,sans-serif;
}

.H-tag:hover {
	border-color: #f40;
	background-color: #57f;
	color:#fff;
	cursor: pointer;
}

.H-new-tag {
	opacity: 0.2;
}

.H-new-tag:hover {
	opacity: 1.0;
}
