/* Tagging */

.H-tags {}

.H-tag {
	padding: 2px;
	margin: 2px;
	border: 1px solid #08f;
	background-color: #028;
	color: #cef;
	display:inline-block;
}

.H-tag:hover {
	border: 1px solid #0cf;
	background-color: #039;
}
